/* Fonts */
$sans-regular: "Open_Sans_Regular";
$sans-bold: "Open_Sans_Bold";
$sans-semiBold: "Open_Sans_SemiBold";
$sans-extraBold: "Open_Sans_ExtraBold";
$roboto-regular: "Roboto_Slab_Regular";

/* Colors */
$primary-blue-color: #234d97;
$secondary-blue-color: #436fb0;
$third-blue-color: #5a8fc9;
$aquamarine: #73fbd3;
$fluorescent-blue: #44e5e7;

/* Breakpoint Media Query */
$breakpoint-mobile: 812px;
